services:
  parking-detector-lpr:
    image: rameyjm7/parking-detector-lpr:latest
    container_name: parking-detector-lpr
    restart: unless-stopped
    shm_size: "16gb"
    runtime: nvidia
    environment:
      - JUPYTER_TOKEN=parking
      - PYTHONUNBUFFERED=1
    ports:
      - "8888:8888"
    volumes:
      - ./:/workspace
    command: >
      bash -c "jupyter lab
        --ip=0.0.0.0
        --port=8888
        --no-browser
        --allow-root
        --NotebookApp.token=${JUPYTER_TOKEN}"
